{% extends 'app/dashboard.html' %}
    <div class="w3-container w3-quarter">
        {% block content %}
        {% comment %} <h2>{{ hostels }}</h2> {% endcomment %}
        <form method = "post" action={% url 'savefacility' %} style="border:1px solid #ccc">
            {% csrf_token %}
            <div class="w3-container w3-quarter  w3-margin-bottom w3-margin-left">
                <h1 class="w3-text-teal">Add Facility</h1>
                <h3 class="w3-text-teal">Adding Facility to {{hostel.h_name}}</h3>
                <hr>
                <input type="hidden" name="hostel" value={{hostel.id}}>
                <label for="fname" class="w3-text-teal"><b>Facility Name</b></label>
                <input type="text" name="fname"class ="w3-input">

                <label for="fdesc" class="w3-text-teal"><b>Facility Description</b></label>
            
                <textarea name="fdesc" class="w3-input"></textarea>
                <br>           
                <div class="clearfix">
                    <button type="submit" name="action" value="view" class="w3-button w3-teal w3-round">Add Facility</button>
                    <button type="reset" class="w3-button w3-teal w3-round">Cancel</button>
                </div>
            </div>
        </form>
        {% endblock %}
    </div>