{% extends 'app/dashboard.html' %}
{% block content %}

<form method = "post" action={% url 'saveroom' %} style="border:1px solid #ccc">
  {% csrf_token %}
    <div class="w3-container w3-quarter w3-margin-bottom w3-margin-left">
      <h3 class="w3-text-deep-purple w3-center">Add Room</h3>
      <p class="">Please add room to your hostel</p>
      <hr>
      <label for="Hostel" class="w3-center w3-text-deep-purple"><b>Select Hostel to add room</b></label>
      <select name="hostel" class="w3-dropdown-click w3-padding w3-bar w3-round w3-margin-bottom">
          {% for h in hostels %}
        <option class = "w3-bar-item w3-button" value={{h.id}}>{{h.h_name}}</option>
        {% endfor %}
      </select>
      <br>  
      <input type="text" class="w3-input w3-round w3-border w3-margin-bottom" placeholder="Enter Room No" name="roomno" required>
      <input type="text" class="w3-input w3-round w3-border w3-margin-bottom" placeholder="Enter Room Capacity" name="capacity" required>

  
      <div class="clearfix">
          <button type="submit" class="w3-button w3-round w3-border w3-border-orange w3-hover-black w3-round">Add</button>
        <button type="reset" class="w3-button w3-round w3-border w3-border-orange w3-hover-black w3-round">Cancel</button>
      </div>
    </div>
  </form>
{% endblock %}