{% extends 'app/dashboard.html' %}
{% block content %}

<form method = "post" action={% url 'savestudent' %} style="border:1px solid #ccc">
  {% csrf_token %}
    <div class="w3-container w3-quarter w3-margin-bottom w3-margin-left">
      <h3 class="w3-text-deep-purple w3-center">ADD STUDENT</h3>
      <hr>
      <input type="text" class="w3-input w3-border w3-round w3-margin-bottom" placeholder="Enter Hostel Name" name="name" required>

      <input type="text" class="w3-input w3-border w3-round w3-margin-bottom" placeholder="Enter Hostel Email" name="email" required>
      
      <input type="text" class="w3-input w3-border w3-round w3-margin-bottom" placeholder="Enter Hostel contact" name="contact" required>

      <label for="hostel" class="w3-text-black">Select Hostel</label>
        <select name="hostel" class="w3-padding w3-input w3-border w3-round w3-margin-bottom">
            {% for h in hostels %}
            <option value={{h.id}}>{{h.h_name}}</option>
            {% endfor %}
        </select>
      <input type="number" class="w3-input w3-border w3-round w3-margin-bottom" placeholder="Room Number" name="room" required>  
  
      <div class="clearfix">
          <button type="submit" class="w3-button w3-hover-black w3-border w3-border-orange w3-round">Submit</button>
        <button type="reset" class="w3-button w3-orange w3-round">Cancel</button>
      </div>
    </div>
  </form>
    

  </form>
{% endblock %}