{% extends 'app/main.html' %}
{% block content %}

<form action="" method="POST">
{% csrf_token %}
 <div class="w3-container w3-quarter w3-margin-left w3-margin-bottom">
    <h2 class="w3-center w3-text-deep-purple">Login</h2>
    {% for message in messages %}
        <p id="messages" class="w3-bar w3-padding w3-blue-gray">{{message}}</p>    
    {% endfor %}
    <input type="text"class = "w3-input w3-border w3-round w3-margin-bottom" placeholder=" Enter Username" name="username" required>

    <input type="password" class="w3-input w3-border w3-round w3-margin-bottom" placeholder="Enter Password" name="password" required>
    
    <button type="submit"class="w3-button w3-border w3-border-orange w3-hover-black w3-round">Login</button>
    <button class = "w3-button w3-border w3-border-orange w3-hover-black w3-round" type="reset">Cancel</button>&nbsp;
    <span class="w3-text-indigo w3-margin-left "> <a href="{% url 'register' %}" class="w3-btn">Create Account</a></span></br>
      
  </div>
</form>


{% endblock %}
