<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class = "w3-round w3-indigo w3-panel w3-card w3-margin-left w3-margin-right w3-border w3-border-orange">
            <font class="w3-margin-top w3-text-orange w3-xlarge w3-padding w3-margin-right" style="font-family: 'Brush Script MT', cursive;">HMS</font>
            <a href="{% url 'index' %}" class="w3-btn">Home</a>
            <a href="{% url 'register' %}" class="w3-btn">Register</a>
            <a href="{% url 'login' %}" class="w3-btn">Login</a>
        </div>


        <div class = "w3-bar w3-container">
            {% block content %}
            {% endblock %}
        </div>
        
        <div class = "w3-panel w3-margin w3-round w3-black w3-border-top w3-border-orange w3-hover-shadow">
            <h6 class = "w3-bar-item">mysite footbaar</h6>    
        </div>
    </body>
</html>