{% extends 'app/main.html' %}
{% block content %}
<form method='POST' action="">
  {% csrf_token %}
<div class="w3-container w3-quarter w3-margin-bottom w3-margin-left">
    <h1 class="w3-text-deep-purple w3-center">Registration Form</h1>
    <hr>
  {% comment %} {{form.as_p}} {% endcomment %}
  {{form.username}}</br>
  {{form.first_name}}</br>
  {{form.last_name}}</br>
  {{form.email}}</br>
  {{form.password1}}</br>
  {{form.password2}}</br>


  <div class="w3-text-red">{{form.errors}}</div>
  <button type='submit' class="w3-button w3-border w3-hover-black w3-border-black w3-round">Register</button>
  <button type='reset' class="w3-button  w3-border w3-hover-black w3-border-black w3-round">Reset</button>
  <span>Already have account? &nbsp;</span><a href = {% url 'login' %} class=" w3-btn w3-text-blue"> Login</a>
</div>
</form>

{% endblock %}