{% extends 'app/main.html' %}
{% block content %}

<form method = "post" action="" style="border:1px solid #ccc">
  {% csrf_token %}
    <div class="w3-container w3-quarter w3-margin-bottom w3-margin-left">
      <h1 class="w3-text-teal">Sign Up</h1>
      <p class="w3-text-teal">Please fill in this form to create an account.</p>
      <hr>
      <label for="name" class="w3-text-teal"><b>Name</b></label>
      <input type="text" class="w3-input w3-margin-bottom" placeholder="Enter Your Name" name="name" required>

      <label for="email" class="w3-text-teal"><b>Email</b></label>
      <input type="text" class="w3-input w3-margin-bottom" placeholder="Enter Email" name="email" required>
  
      <label for="psw" class="w3-text-teal"><b>Password</b></label>
      <input type="password" class="w3-input w3-margin-bottom" placeholder="Enter Password" name="psw" required>
  
      <label for="psw-repeat" class="w3-text-teal"><b>Repeat Password</b></label>
      <input type="password" class="w3-input w3-margin-bottom" placeholder="Repeat Password" name="psw-repeat" required>
  
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
  
      <p class="w3-text-teal">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
  
      <div class="clearfix">
          <button type="submit" class="w3-button w3-teal w3-round">Sign Up</button>
        <button type="button" class="w3-button w3-teal w3-round">Cancel</button>
      </div>
    </div>
  </form>
    

  </form>
{% endblock %}