{% extends 'app/dashboard.html' %}
{% block content %}

<form method = "post" action="" style="border:1px solid #ccc">
  {% csrf_token %}
    <div class="w3-container w3-quarter w3-margin-bottom w3-margin-left">
      <h1 class="">Update Hostel</h1>
      {% for message in messages %}
        <p id="messages" class="w3-bar w3-padding w3-blue-gray">{{message}}</p>    
      {% endfor %}
      <hr>
      {{form.h_name}}</br>
      {{form.h_email}}</br>
      {{form.h_contact}}</br>
      {{form.h_city}}</br>
      {{form.h_address}}</br>
      {{form.h_fees}}</br>
   
      <div class="w3-text-red">{{form.errors}}</div>

      {% comment %} {{form.as_table}} {% endcomment %}
      <div class="clearfix">
          <button type="submit" class="w3-button w3-border w3-border-orange w3-hover-black w3-round">Update &#9998;</button>
        <a href="{% url 'viewhostels' %}" class="w3-button w3-border w3-border-orange w3-hover-black w3-round">&#8592; View Hostels</a>
      </div>
    </div>
  </form>
    


{% endblock %}