{% extends 'app/dashboard.html' %}
{% block content %}

<form method = "post" action={% url 'updatestudent' s.id %} style="border:1px solid #ccc">
  {% csrf_token %}
    <div class="w3-container w3-quarter w3-margin-bottom w3-margin-left">
      <h1 class="w3-text-teal">UPDATE STUDENT</h1>
      <p class="w3-text-teal">Please provide student details</p>
      <hr>
      <input type="hidden" name="studentid" value={{student.id}}>
      <label for="email" class="w3-text-teal"><b>Name</b></label>
      <input type="text" class="w3-input w3-margin-bottom" placeholder="Enter student Name" name="name" required>

      <label for="email" class="w3-text-teal"><b>Email</b></label>
      <input type="text" class="w3-input w3-margin-bottom" placeholder="Enter student Email" name="email" required>
      
      <label for="contact" class="w3-text-teal"><b>Contact</b></label>
      <input type="text" class="w3-input w3-margin-bottom" placeholder="Enter student contact" name="contact" required>

      <label for="room" class="w3-text-teal"><b>Room</b></label>
        <select name="room" class="w3-padding w3-input">
            {% for r in rooms %}
            <option value={{r.id}}>{{r.room_no}}</option>
            {% endfor %}
        </select>  
      <p class="w3-text-teal"> You are adding student to hostel that you selected from home page.<a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
  
      <div class="clearfix">
          <button type="submit" class="w3-button w3-teal w3-round">Update</button>
        <button type="reset" class="w3-button w3-teal w3-round">Cancel</button>
      </div>
    </div>
  </form>
    

  </form>
{% endblock %}