{% extends 'app/dashboard.html' %}
{% block content %}
{% comment %} <h2>{{ hostels }}</h2> {% endcomment %}
<form method = "post" action={% url 'viewrooms' %} style="border:1px solid #ccc">
    {% csrf_token %}
          <div class="w3-container w3-quarter w3-margin-bottom w3-margin-left">
            <h1 class="w3-text-teal">Select Hostel</h1>
            <p class="w3-text-teal">Please select hostel to view Rooms</p>
            <hr>
            <label for="Hostel" class="w3-text-teal"><b>Select Hostel</b></label>
            <select name="hostel" class="w3-dropdown-click w3-text-teal w3-padding w3-bar w3-margin-bottom">
            {% for h in hostels %}
              <option class = "w3-bar-item w3-button" value={{h.id}}>{{h.h_name}}</option>
            {% endfor %}
            </select>
            <br>           
            <div class="clearfix">
                <button type="submit" name="action" value="view" class="w3-button w3-teal w3-round">View Rooms</button>
              <button type="reset" class="w3-button w3-teal w3-round">Cancel</button>
            </div>
          </div>
        </form>

{% endblock %}
