{% extends 'app/dashboard.html' %}
{% block content %}
{% comment %} <h2>{{ hostels }}</h2> {% endcomment %}
{% comment %} <form method = "post" action={% url 'updatehostel' %} style="border:1px solid #ccc">
    {% csrf_token %} {% endcomment %}
{% for h in hostels %}

<div class="w3-container w3-text-black w3-round-large w3-border w3-margin w3-border-amber w3-quarter">
    <table class="w3-table">
<tr>
    <td>Name</td><td> {{ h.h_name }}</td></tr>
<tr>
<td>Email </td><td>{{h.h_email}}</td></tr>   
<tr>
<td>contact </td><td>{{h.h_contact}}</td></tr>
<tr>
<td>City</td><td>{{h.h_city}}</td></tr>
<tr>
<td>Address &nbsp;&nbsp;</td><td>{{h.h_address}}</td></tr>
<tr>
<td>Fees</td><td>{{h.h_fees}}</td></tr>
<input type="hidden" name="hostelid" value={{h.id}}>
<tr><td><a href="{% url 'updatehostel' h.id %}" class="w3-button w3-border w3-border-orange w3-round w3-blue">Update &#9998;</a></td>
<td><form action="{% url 'deletehostel' h.id %}" method="post">{% csrf_token %}<button type="submit" name="hid" class="w3-button w3-round w3-red" value="{{h.id}}">Delete &#10006;</button></form></td></tr>
</table>
</div>

 {% endfor %}
{% comment %} </form> {% endcomment %}

{% endblock %}